@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import "./Helpers/_mixins.scss";
@import "./Helpers/_variable.scss";
@import "./Helpers/_mixins.scss";


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;

    .container {
        width: 1440px;
        padding: 64px 240px 100px;
        margin: 0 auto;

        @media screen and (max-width: 700px) {
            max-width: 375px;
            padding: 18px 32px;
        }

        .heading {
            font-size: 36px;
            color: $grey;
            margin-bottom: 50.94px;

            @media screen and (max-width: 700px) {
                font-size: 24px;
            }
        }

        main {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
        }

        .main-items {
            order: 2;
            background: #f2f2f2;
            border-radius: 12px;
            padding: 30px;

            @media screen and (max-width: 700px) {
                order: 1;
                margin-bottom: 39px;
            }

            .item-box {
                display: flex;
                width: 100%;

                img {
                    width: 134.21px;
                    height: 136.27px;
                    border-radius: 13px;
                    margin-right: 20.19px;

                    @media screen and (max-width: 700px) {
                        width: 122.75px;
                        height: 124.64px;
                        margin-right: 18.84px;
                    }
                }

                .name-price {
                    flex: 1;

                    .name-price__name {
                        font-size: 16px;
                        color: $grey;
                        margin-bottom: 10px;

                        @media screen and (max-width: 700px) {
                            font-size: 12px;

                        }
                    }
                }

                .tags {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name-price__price {
                        font-size: 16px;
                        font-weight: 600;
                        color: $orng;

                        @media screen and (max-width: 700px) {
                            font-size: 14px;
                        }
                    }

                    .slash {
                        font-size: 12px;

                        @media screen and (max-width: 700px) {
                            font-size: 10px;
                        }
                    }
                }

                .btn-container {
                    margin-top: 33.5px;
                    min-width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 20px;
                    border: 1px solid #828282;
                    border-radius: 12px;

                    @media screen and (max-width: 700px) {
                        width: 122.8px;

                    }

                    .box {
                        text-align: center;
                        height: 21.2px;
                        width: 21.2px;
                        background: #f2f2f2;
                    }

                    .box-2 {
                        padding-top: 2.1px;
                    }
                }
            }

            .item-box + .item-box {
                margin-top: 31px;

                @media screen and (max-width: 700px) {
                    margin-top: 28.89px;
                }
            }

            .shipping-total {
                margin-top: 95.29px;

                @media screen and (max-width:700px) {
                    margin-top: 87.15px;
                }

                .shipping-total__box {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-top: 1px solid #bdbdbd;

                    @media screen and (max-width: 700px) {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .form-container {
            order: 1;
            max-width: 456px;

            form + form {
                margin-top: 50px;
            }

            form {

                .sub-title {
                    font-size: 18px;
                    margin-bottom: 15px;
                    color: $grey;

                    @media screen and (max-width: 700px) {
                        font-size: 14px;
                        margin-bottom: 11.19px;
                    }
                }

                .form-row + .form-row {
                    margin-top: 20px;
                }

                .row {

                    label {
                        font-size: 12px;
                        color: $grey-1;
                        margin-bottom: 6.97px;

                        @media screen and (max-width: 700px) {
                            font-size: 10px;
                            margin-bottom: 5.23px;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 18px 15px;
                        border-radius: 12px;
                        font-size: 16px;
                        outline: none;
                        border: 1px solid $grey;

                        @media screen and (max-width: 700px) {
                            padding: 13.85px 11.75px;
                            font-size: 12px;
                        }
                    }

                }

                .box-two {
                    display: flex;
                    justify-items: center;
                    margin-top: 20px;
                    max-width: 456px;

                    .form-row + .form-row {
                        margin-top: 0;
                        margin-left: 31px;
                    }

                    .form-row {

                        label {
                            font-size: 12px;
                            color: $grey;
                            margin-bottom: 6.97px;

                            @media screen and (max-width: 700px) {
                                font-size: 10px;
                                margin-bottom: 5.23px;

                            }
                        }

                        input {
                            width: 100%;
                            padding: 18px 15px;
                            border-radius: 12px;
                            font-size: 16px;
                            outline: none;
                            border: 1px solid $grey;

                            @media screen and (max-width: 700px) {
                                padding: 13.85px 11.75px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .form-footer {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                justify-content: center;

                @media screen and (max-width: 700px){
                    margin-top: 16.95px;
                }

                label {
                    font-size: 12px;
                    color: $grey-1;

                    @media screen and (max-width: 700px) {
                        font-size: 10px;
                    }
                }

                .btn {
                    width: 166px;
                    align-self: flex-end;
                    padding: 17px 45px;
                    outline: none;
                    border: 1px solid $orng;
                    background: $orng;
                    color: #f2f2f2;
                    font-size: 16px;
                    border-radius: 12px;
                    font-family: inherit;
                    margin-top: 23px;
                }
            }
        }

    }
}

