@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body .container {
  width: 1440px;
  padding: 64px 240px 100px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  body .container {
    max-width: 375px;
    padding: 18px 32px;
  }
}

body .container .heading {
  font-size: 36px;
  color: #4e5150;
  margin-bottom: 50.94px;
}

@media screen and (max-width: 700px) {
  body .container .heading {
    font-size: 24px;
  }
}

body .container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 700px) {
  body .container main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container .main-items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 30px;
}

@media screen and (max-width: 700px) {
  body .container .main-items {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 39px;
  }
}

body .container .main-items .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .container .main-items .item-box img {
  width: 134.21px;
  height: 136.27px;
  border-radius: 13px;
  margin-right: 20.19px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box img {
    width: 122.75px;
    height: 124.64px;
    margin-right: 18.84px;
  }
}

body .container .main-items .item-box .name-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .main-items .item-box .name-price .name-price__name {
  font-size: 16px;
  color: #4e5150;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box .name-price .name-price__name {
    font-size: 12px;
  }
}

body .container .main-items .item-box .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .main-items .item-box .tags .name-price__price {
  font-size: 16px;
  font-weight: 600;
  color: #f2994a;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box .tags .name-price__price {
    font-size: 14px;
  }
}

body .container .main-items .item-box .tags .slash {
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box .tags .slash {
    font-size: 10px;
  }
}

body .container .main-items .item-box .btn-container {
  margin-top: 33.5px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border: 1px solid #828282;
  border-radius: 12px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box .btn-container {
    width: 122.8px;
  }
}

body .container .main-items .item-box .btn-container .box {
  text-align: center;
  height: 21.2px;
  width: 21.2px;
  background: #f2f2f2;
}

body .container .main-items .item-box .btn-container .box-2 {
  padding-top: 2.1px;
}

body .container .main-items .item-box + .item-box {
  margin-top: 31px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .item-box + .item-box {
    margin-top: 28.89px;
  }
}

body .container .main-items .shipping-total {
  margin-top: 95.29px;
}

@media screen and (max-width: 700px) {
  body .container .main-items .shipping-total {
    margin-top: 87.15px;
  }
}

body .container .main-items .shipping-total .shipping-total__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #bdbdbd;
}

@media screen and (max-width: 700px) {
  body .container .main-items .shipping-total .shipping-total__box p {
    font-size: 14px;
  }
}

body .container .form-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 456px;
}

body .container .form-container form + form {
  margin-top: 50px;
}

body .container .form-container form .sub-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #4e5150;
}

@media screen and (max-width: 700px) {
  body .container .form-container form .sub-title {
    font-size: 14px;
    margin-bottom: 11.19px;
  }
}

body .container .form-container form .form-row + .form-row {
  margin-top: 20px;
}

body .container .form-container form .row label {
  font-size: 12px;
  color: #4f4f4f;
  margin-bottom: 6.97px;
}

@media screen and (max-width: 700px) {
  body .container .form-container form .row label {
    font-size: 10px;
    margin-bottom: 5.23px;
  }
}

body .container .form-container form .row input {
  width: 100%;
  padding: 18px 15px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  border: 1px solid #4e5150;
}

@media screen and (max-width: 700px) {
  body .container .form-container form .row input {
    padding: 13.85px 11.75px;
    font-size: 12px;
  }
}

body .container .form-container form .box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 20px;
  max-width: 456px;
}

body .container .form-container form .box-two .form-row + .form-row {
  margin-top: 0;
  margin-left: 31px;
}

body .container .form-container form .box-two .form-row label {
  font-size: 12px;
  color: #4e5150;
  margin-bottom: 6.97px;
}

@media screen and (max-width: 700px) {
  body .container .form-container form .box-two .form-row label {
    font-size: 10px;
    margin-bottom: 5.23px;
  }
}

body .container .form-container form .box-two .form-row input {
  width: 100%;
  padding: 18px 15px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  border: 1px solid #4e5150;
}

@media screen and (max-width: 700px) {
  body .container .form-container form .box-two .form-row input {
    padding: 13.85px 11.75px;
    font-size: 12px;
  }
}

body .container .form-container .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  body .container .form-container .form-footer {
    margin-top: 16.95px;
  }
}

body .container .form-container .form-footer label {
  font-size: 12px;
  color: #4f4f4f;
}

@media screen and (max-width: 700px) {
  body .container .form-container .form-footer label {
    font-size: 10px;
  }
}

body .container .form-container .form-footer .btn {
  width: 166px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 17px 45px;
  outline: none;
  border: 1px solid #f2994a;
  background: #f2994a;
  color: #f2f2f2;
  font-size: 16px;
  border-radius: 12px;
  font-family: inherit;
  margin-top: 23px;
}
/*# sourceMappingURL=main.css.map */